sarif-om
jschema_to_python
defusedxml
gitpython
shiftleft-scan-reports
appthreat-depscan
requests
bandit
ansible-lint
pipenv
checkov==1.0.546
yamllint
njsscan
rich
PyGithub
PyYAML
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
